<%@ Master Language="C#" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="Admin_admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Trang quản trị viên</title>
    <!--<link href="web/admin.css" type="text/css" rel="Stylesheet" /> -->
     <style type="text/css">
     body 
{
	background-repeat:repeat-x;
	background-position:left top;
	margin:0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
body a
{
	color:Black;
	text-decoration:none;
}
body a:hover
{
	color:Red;
	text-decoration:underline;
}
	
.logo
{

	width:235px;
	height:120px;
	margin-left:70px;
	padding:0;
	float:left;
}
.banneradmin
{
	background-image:url(images/banner.jpg);
	background-repeat:repeat-x;
	background-position:top;
	width:100%;
	height:150px;
}
.admin
{
	background-image:url(images/ADMIN.png);
	background-repeat:no-repeat;
	background-position:top;
	float:right;
	width:550px;
	height:80px;
	padding-right:70px;
	margin-top:15px;
}
     </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>		<!-- jQuery -->
<script type="text/javascript" src="js/coin-slider.min.js"></script>		<!-- slider -->
<script type="text/javascript" src="js/cufon-yui.js"></script>				<!-- cufon -->
<script type="text/javascript" src="js/cufon-chunkfive.js"></script>			<!-- cufon font -->
<script type="text/javascript" src="js/menusm.js"></script>					<!-- menu -->
<script type="text/javascript" src="js/script.js"></script>		
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <form id="form1" runat="server">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
       <div>
          <a class="navbar-brand" href="#">Quản trị</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       </div>

      <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <asp:HyperLink CssClass="nav-link" ID="HyperLink7" runat="server" NavigateUrl="~/GioiThieuSanPham.aspx">Trang chủ</asp:HyperLink>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sản phẩm
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <asp:HyperLink CssClass="dropdown-item" ID="HyperLink2" runat="server" NavigateUrl="~/Admin/SanPham.aspx">Ds sản phẩm</asp:HyperLink></td>
                    <asp:HyperLink CssClass="dropdown-item" ID="HyperLink1" runat="server" NavigateUrl="~/Admin/ThemSanPham.aspx">Đăng sản phẩm</asp:HyperLink>
                </div>
              </li>
             <li class="nav-item">
                 <asp:HyperLink CssClass="nav-link" ID="HyperLink4" runat="server" NavigateUrl="~/Admin/ThongKeDonHang.aspx">Thống kê đơn hàng</asp:HyperLink>
             </li>
             <li class="nav-item">
                 <asp:HyperLink CssClass="nav-link" ID="HyperLink6" runat="server" NavigateUrl="~/Admin/quanlytintuc.aspx">Đăng tin</asp:HyperLink>
             </li>
             <li class="nav-item">
                <asp:LinkButton CssClass="nav-link" ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">Đăng xuất</asp:LinkButton>
             </li>
        </ul>
      </div>
    </nav>
    <div>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 1000px">
          <tr>
              <td colspan="2" style="padding-left: 20px; font-weight: bold; color: #ff0000">
                  Xin chào Admin:
                 <asp:HyperLink ID="HyperLink5" runat="server">HyperLink</asp:HyperLink>
              </td>
          </tr>
            <tr>
                <td style="padding-top: 10px; background-color: #ffffff; width: 821px; height: 277px;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border:1px solid #ccc; height: 34px;">
                    <p style="text-align:center; margin:0; padding:0; color:rgb(255,255,153)">CopyRight&copy <b>MOONLY CENTER | MOONLY.com |</b></p>
                    <p style="text-align:center; margin:0; padding:0; color:rgb(255,255,153)"> <b> | CĐ CNTT HỮU NGHỊ VIỆT - HÀN |</b></p>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
