<%@ Master Language="C#" AutoEventWireup="true" CodeFile="mainphu.master.cs" Inherits="mainphu" %>
<%@ Register Src="TaiNguyenDieuKhien/LienKet.ascx" TagName="LienKet" TagPrefix="uc5" %>
<%@ Register Src="TaiNguyenDieuKhien/ThongTinThiTruong.ascx" TagName="ThongTinThiTruong"
    TagPrefix="uc4" %>
<%@ Register Src="TaiNguyenDieuKhien/Top10SanPham.ascx" TagName="Top10SanPham" TagPrefix="uc3" %>
<%@ Register Src="TaiNguyenDieuKhien/MenuDanhMuc.ascx" TagName="MenuDanhMuc" TagPrefix="uc2" %>
<%@ Register Src="TaiNguyenDieuKhien/ThongKeTruyCap.ascx" TagName="ThongKeTruyCap"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
     <title>Healty Store - Vì sức khỏe mọi nhà </title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="A Community Based WordPress Theme" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="coin-slider-styles.css" media="screen" />
<link rel="stylesheet" type="text/css" href="menusm.css" media="screen" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="pagenavi-css.css" media="screen" />
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>		<!-- jQuery -->
<script type="text/javascript" src="js/coin-slider.min.js"></script>		<!-- slider -->
<script type="text/javascript" src="js/cufon-yui.js"></script>				<!-- cufon -->
<script type="text/javascript" src="js/cufon-chunkfive.js"></script>			<!-- cufon font -->
<script type="text/javascript" src="js/menusm.js"></script>					<!-- menu -->
<script type="text/javascript" src="js/script.js"></script>	
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</head>
<body>
    <form id="form1" runat="server">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nhà thuốc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cửa hàng</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sản phẩm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Thuốc đặc trị</a>
          <a class="dropdown-item" href="#">Thuốc chỉ định</a>
          <a class="dropdown-item" href="#">Thực phẩm chức năng</a>
            <a class="dropdown-item" href="#">Dụng cụ y tế</a>
        </div>
      </li>
      <li class="nav-item">
        <asp:LinkButton ID="LinkButton1" CssClass="nav-link" runat="server" OnClick="LinkButton1_Click1">Đơn Hàng</asp:LinkButton>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="GioHang.aspx">Giỏ Hàng</a>
       </li>
    </ul>
  </div>
</nav>
 
  <div class="w-75 mx-auto" style="margin-top: 11rem;">
     <div class="w-100">
        	<div class="bentrai">
        	    <div class="menudoc">
           	  		<div class="thanhmenu">
                    	<h4>DANH MỤC SẢN PHẨM</h4>
                    </div>
                    <div class="danhmucsanpham">
                    	<ul>
                            <uc2:MenuDanhMuc ID="MenuDanhMuc" runat="server" />
                        </ul>
                    </div>
                </div>
                  <div class="menudoc">
           	  		<div class="thanhmenu">
                    	<h4>
                            BÁC SỸ ĐANG TRỰC</h4>
                    </div>
                    <div class="tintuc">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding:5px;">
                            <tr>
                                <td style="width: 207px">
                                    <uc3:Top10SanPham ID="Top10SanPham1" runat="server" />
                                </td>
                            </tr>
                        </table>
                    	
                    </div>
                    </div>
          
            </div>
            <div class="giua">
                <div class="product">
                   
                </div>
                <div class="sanpham">
                    <asp:Label ID="lblchao" runat="server" Text=""></asp:Label>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <div class="benphai">
                <div class="thanhmenu">
                    <h4>BÁN HÀNG QUA PHONE</h4>
                </div>
                <div class="muahanggoingay">
                    <h4><b>Mua hàng gọi ngay:</b></h4>
                    <p style="text-indent:30px; color:Red; font-weight:bold;">Holine:000.11.111.111</p>
                    <hr/>
                    <p style="text-align:center; font-weight:bold; font-size:14px;">Giao hàng tận nơi</p>
                    <ul><li class="text-center"><a href="#">Hướng dẫn mua hàng</a></li></ul>
                </div>
                
               <div class="menutintuc">
                    <div class="thanhmenu">
                        <h4>SỐ LƯỢNG TRUY CẬP</h4>
                    </div>
                    <div style="border:1px solid #ccc;width:204px">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                            <tr>
                                <td style="height: 16px; font-weight: bold; padding-top: 10px;" align="center" colspan="2">
                                    <uc1:ThongKeTruyCap ID="ThongKeTruyCap" runat="server" />
                                   
                                   </td>
                            </tr>
                            <tr>
                                <td style="height: 18px; padding-left: 40px; font-weight: bold;">
                                   
                                </td>
                                <td style="height: 18px; font-weight: bold; float:left; padding-right: 30px; padding-bottom: 5px;">
                                   
                                </td>
                            </tr>
                        </table>
                    </div>
                    </div>
               </div>
            </div>
        </div>
    
   
  </div>
  </div>
  <!--/columns --><div class="clr"></div>
</div>
<!--/page --><div class="footer2">
    <div class="footer2_resize">
      <div class="col col1">
        <h2>Portfolio Categories</h2>
        <ul>
          <li><a href="#">Featured</a></li>
          <li><a href="#">Motion Graphics</a></li>
          <li><a href="#">Print</a></li>
          <li><a href="#">Theme Colors</a></li>
          <li><a href="#">Wordpress Themes</a></li>
        </ul>
      </div>
      <div class="col col2">
        <h2>Last Updates</h2>
        <ul>
          <li><a href="#">What Browser To Choose?</a><br />posted on December 20, 2009</li>
          <li><a href="#">Getting Started</a><br />posted on December 20, 2009</li>
          <li><a href="#">Why?</a><br />posted on December 20, 2009</li>
        </ul>
      </div>
      <div class="col col3">
        <h2>Archives</h2>
        <ul>
          <li><a href="#">July 2010</a></li>
          <li><a href="#">August 2010</a></li>
          <li><a href="#">September 2010</a></li>
          <li><a href="#">November 2010</a></li>
          <li><a href="#">December 2010</a></li>
        </ul>
      </div>
      <div class="col col4">
        <h2>Thông tin liên hệ</h2>
        <p><span>Địa chỉ:</span> CNTT HỮU NGHỊ VIỆT HÀN</p>
        <p><span>Điện thoại:</span> +84-1688-767-549</p>
        <p><span>FAX:</span> +458-4578</p>
        <p><span>Others:</span> +301 - 0125 - 01258</p>
        <p><span>E-mail:</span> <a href="">dinhphong04a@gmail.com</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>

<div id="page_bottom">
  <div id="footer">
    <div class="text1">&copy; Copyright <a href="http://www.facebook.com/shiny.phong">CCTM04A</a>. All Rights Reserved</div>
    <div class="text2">Design: (TS) <a href="http://www.facebook.com/shiny.phong">Shiny Phong</a></div>
  </div>
  <div class="clr"></div>
  <!--/footer -->
</div>

    </form>
</body>
</html>
